/* line 3, ../sass/calendar.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 7, ../sass/calendar.scss */
.tdaclick {
  border: solid 1px #993399;
}

/* line 8, ../sass/calendar.scss */
.calcont {
  background: #fff;
  position: absolute;
  display: none;
  top: 100px;
  left: 300px;
  border: #993399 solid 1px;
  width: 200px;
  height: 170px;
  text-align: center;
}
/* line 17, ../sass/calendar.scss */
.calcont .calHead {
  width: 100%;
  height: 25px;
}
/* line 20, ../sass/calendar.scss */
.calcont .calHead .preMonth {
  margin: 5px 0 0 10px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 0px;
  height: 0px;
  border-top: 5px solid transparent;
  border-right: 8px solid #000;
  border-bottom: 5px solid transparent;
}
/* line 29, ../sass/calendar.scss */
.calcont .calHead .currentYearText {
  margin: 5px 5px 0 15px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 33, ../sass/calendar.scss */
.calcont .calHead .currentYearText .currentYear {
  text-decoration: none;
  color: #000;
}
/* line 38, ../sass/calendar.scss */
.calcont .calHead .currentMonthText {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 5px 15px 0 5px;
  width: 50px;
}
/* line 42, ../sass/calendar.scss */
.calcont .calHead .currentMonthText .currentMonth {
  text-decoration: none;
  color: #000;
}
/* line 47, ../sass/calendar.scss */
.calcont .calHead .nextMonth {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 0px;
  height: 0px;
  border-top: 5px solid transparent;
  border-left: 8px solid #000;
  border-bottom: 5px solid transparent;
}
/* line 56, ../sass/calendar.scss */
.calcont .Content {
  height: 145px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  font-size: 10px;
}
/* line 62, ../sass/calendar.scss */
.calcont .Content #calContent {
  position: absolute;
  top: 0px;
}
/* line 66, ../sass/calendar.scss */
.calcont .Content #yemonthDate {
  position: absolute;
  top: 0px;
  display: none;
}
/* line 71, ../sass/calendar.scss */
.calcont .Content #yearDate {
  position: absolute;
  top: 0px;
  display: none;
}
/* line 76, ../sass/calendar.scss */
.calcont .Content table {
  border-collapse: collapse;
  width: 100%;
  height: 144px;
}
/* line 80, ../sass/calendar.scss */
.calcont .Content table thead {
  background: #993399;
  color: #fff;
  line-height: 24px;
}
/* line 86, ../sass/calendar.scss */
.calcont .Content table tbody {
  font-family: 'Georgia';
}
/* line 89, ../sass/calendar.scss */
.calcont .Content table tbody .tr {
  line-height: 48px;
  margin: 2px;
}
/* line 92, ../sass/calendar.scss */
.calcont .Content table tbody .tr td {
  width: 42px;
  line-height: 46px;
}
/* line 95, ../sass/calendar.scss */
.calcont .Content table tbody .tr td a {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
/* line 102, ../sass/calendar.scss */
.calcont .Content table tbody tr {
  margin: 2px;
  line-height: 22px;
}
/* line 105, ../sass/calendar.scss */
.calcont .Content table tbody tr .preD, .calcont .Content table tbody tr .nextD {
  color: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 110, ../sass/calendar.scss */
.calcont .Content table tbody tr td {
  width: 23px;
  line-height: 20px;
}
/* line 113, ../sass/calendar.scss */
.calcont .Content table tbody tr td a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 20px;
  height: 15px;
  line-height: 15px;
}
/* line 118, ../sass/calendar.scss */
.calcont .Content table tbody tr td a:hover {
  border: solid 1px #993399;
  cursor: pointer;
}
